version: "3.9"

services:

  config-server:
    build: ./config-server
    container_name: config-server
    port:
      - "8888:8888"
    environment:
      - GIT_URI=https://github.com/Hardik-2019/splitwise-clone.git/config
    networks:
      - spring-ms
  eureka:
    build: ./eureka
    container_name: eureka-server
    ports:
      - "8761:8761"
    depends_on:
      - config-server
    environment:
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8888
    networks:
      - spring-ms

  gateway:
    build: ./gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - eureka
      - config-server
    environment:
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8888
      - EUREKA_SERVER_URL=http://eureka:8761/eureka/
    networks:
      - spring-ms

  user-service:
    build: ./user-service
    container_name: user-service
    depends_on:
      - eureka
      - config-server
    environment:
      - SPRING_CONFIG_IMPORT=optional:configserver:http://config-server:8888
      - EUREKA_SERVER_URL=http://eureka:8761/eureka/
    networks:
      - spring-ms

networks:
  spring-ms:
    driver: bridge